<assembly>
    <id>release</id>

    <formats>
        <format>tar.gz</format>
    </formats>

    <includeBaseDirectory>true</includeBaseDirectory>

    <dependencySets>
        <dependencySet>
            <useProjectArtifact>false</useProjectArtifact>
            <outputDirectory>lib</outputDirectory>
            <unpack>false</unpack>
        </dependencySet>
        <!-- Add system scope jar to lib -->
        <dependencySet>
            <outputDirectory>lib</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <unpack>false</unpack>
            <scope>system</scope>
        </dependencySet>
    </dependencySets>

    <fileSets>
        <fileSet>
            <directory>${project.parent.basedir}/configure/etc/bin</directory>
            <outputDirectory>bin</outputDirectory>
            <fileMode>0755</fileMode>
            <lineEnding>unix</lineEnding>
            <filtered>true</filtered>
        </fileSet>
        <fileSet>
            <directory>${project.parent.basedir}/configure/etc/conf</directory>
            <outputDirectory>configure</outputDirectory>
            <includes>
                <include>**/*.xml</include>
                <include>**/*.properties</include>
                <include>**/*.yml</include>
                <include>**/*.json</include>
                <include>**/*.yaml</include>
                <include>**/*.conf</include>
            </includes>
            <filtered>true</filtered>
        </fileSet>
        <fileSet>
            <directory>target</directory>
            <outputDirectory>lib</outputDirectory>
            <includes>
                <include>*.jar</include>
            </includes>
            <excludes>
                <exclude>*-javadoc.jar</exclude>
                <exclude>*-sources.jar</exclude>
            </excludes>
        </fileSet>
        <fileSet>
            <directory>.</directory>
            <outputDirectory>docs</outputDirectory>
            <includes>
                <include>*.md</include>
            </includes>
            <fileMode>0644</fileMode>
        </fileSet>
        <fileSet>
            <directory>docs</directory>
            <outputDirectory>docs</outputDirectory>
            <fileMode>0644</fileMode>
        </fileSet>
        <fileSet>
            <directory>src/main/assembly/docs</directory>
            <outputDirectory>docs</outputDirectory>
            <fileMode>0644</fileMode>
        </fileSet>
        <fileSet>
            <directory>${project.parent.basedir}/dist/plugins</directory>
            <outputDirectory>./plugins</outputDirectory>
            <includes>
                <include>**/*.jar</include>
            </includes>
            <excludes>
                <exclude>**/*-javadoc.jar</exclude>
                <exclude>**/*-sources.jar</exclude>
                <exclude>**/kotlin-*.jar</exclude>
                <exclude>**/lombok-*.jar</exclude>
                <exclude>**/jdbc-pinot-plugin/*.jar</exclude>
            </excludes>
        </fileSet>
        <!-- Since shaded has been done, remove the original dependency -->
        <fileSet>
            <directory>${project.parent.basedir}/dist/plugins/jdbc-pinot-plugin</directory>
            <outputDirectory>./plugins/jdbc-pinot-plugin</outputDirectory>
            <excludes>
                <exclude>**/*-javadoc.jar</exclude>
                <exclude>**/*-sources.jar</exclude>
            </excludes>
            <includes>
                <include>**/datacap*.jar</include>
            </includes>
        </fileSet>
    </fileSets>
</assembly>
