# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mac os #
.DS_Store

# idea #
.idea
*.iml
target/
*.versionsBackup

# node #
node/
node_modules
tmp/

# vscode #
.vscode
dist/
list
*.configure
mongo_*.xml

# shaded #
/dependency-reduced-pom.xml
shaded/*/dependency-reduced-pom.xml

# datacap #
cache/
config/
docs/site/
data/
!parser/datacap-parser-trino/src/main/java/io/edurt/datacap/parser/node/
pnpm-lock.yaml

!configure/schema/*/data/

# Skip sql parser #
parser/datacap-parser-mysql/src/main/java
parser/datacap-parser-trino/src/main/java/*.tokens
parser/datacap-parser-trino/src/main/java/io/edurt/datacap/parser/antlr

# Skip file #
file/datacap-file-txt/*.txt
file/datacap-file-json/*.json
