# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mac os #
.DS_Store

# idea #
.idea
*.iml
target/
*.versionsBackup

# node #
node/
#package-lock.json
node_modules
yarn.lock
tmp/

# vscode #
.vscode
dist/datacap/
list

binary/tar/copy-conf/*
!binary/tar/copy-conf/README.md
