#content {
    min-height: 500px;
    background-color: white;
}

.layout {
    background-color: white;
}

.droppable-element {
    width: 150px;
    text-align: center;
    background: #fdd;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
}
